* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.caja-todo {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150%;
}

header {
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    background: linear-gradient(#007bff 20%, #6ab2ff);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.encabezado {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    background-image: url(../IMG/logo-removebg-preview2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 100px;
    position: relative;
    left: 30px;
    top: 30px;
}

header nav {
    display: flex;
    align-items: center;
    margin: 0 30px;
    gap: 0 25px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
}

.navegador {
    position: relative;
    color: white;
    transition: all .4s ease-in-out;
}

.navegador:hover {
    color: #001233;
}

.item:before {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #001233;
    transition: all .4s;
}

.item:hover:before {
    width: 100%;
}

.tres:before {
    left: 50%;
}

.tres:hover:before {
    left: 0;
}

.button {
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.button:hover {
    background: #001233;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #001233,
        0 0 25px #001233,
        0 0 50px #001233,
        0 0 100px #001233;
}

.menu summary {
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.menu summary:hover {
    background: #001233;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #001233,
        0 0 25px #001233,
        0 0 50px #001233,
        0 0 100px #001233;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a:hover {
    color: #001233;
}

.menu button {
    font-weight: 600;
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #979DAC;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.menu button:hover {
    background: #979DAC;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #979DAC,
        0 0 25px #979DAC,
        0 0 50px #979DAC,
        0 0 100px #979DAC;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.footer input {
    font-size: 17px;
    border-radius: 5px;
    outline: none 0;
    border: 0px;
    width: 60%;
    padding: 12px 0;
    margin-right: 10px;
    transition: all .3 ease-in-out;
}

.footer input:focus {
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255);
}

.footer input:hover {
    border: 1px solid white;
}

.footer a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    fill: white;
    transition: all .3s ease-in-out;
}

svg {
    height: 30px;
    width: 30px;
}

svg:hover {
    fill: #5eafff;
}

.footer a:hover {
    transform: scale(1.1);
    color: #5eafff;
    filter: drop-shadow(0 0 5px 0 #5eafff);
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pie-pagina {
    background: #002855;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
}

.pie-pagina p {
    color: white;
}

.caja-enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px 0;
}

.caja-enlace p {
    font-weight: 600;
    margin-bottom: 10px;
}

.caja-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px 0;
}

.caja-info p {
    text-align: center;
}

.caja-pagos {
    display: flex;
    flex-direction: column;
}

.caja-redes {
    display: flex;
    flex-direction: column;
}

.caja-enlace p {
    text-transform: uppercase;
    text-align: center;
}

.caja-pagos a,
.caja-redes a {
    text-decoration: none;
}

.caja-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.caja-iconos a {
    background-color: white;
    top: 25px;
    position: relative;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0.5);
    transition: transform .5s;
    overflow: hidden;
}

.caja-iconos .face::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #1167fc, rgb(0, 42, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-iconos .insta::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #9a11fc, rgb(255, 0, 0) 40%, rgb(255, 213, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-iconos .twi::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #11ecfc, rgb(0, 132, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}


.caja-iconos a .fa {
    z-index: 10;
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
}


.caja-iconos a:hover::after {
    top: 0;

}

.caja-iconos a:hover .fa {
    color: white;
}

.caja-iconos a:hover {
    transform: translateY(-10px);
}

.enlace {
    gap: 0 15px;
    display: flex;
}

.caja-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.caja-ico a {
    top: 25px;
    position: relative;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    border: none;
    transition: transform .5s;
    overflow: hidden;
}

.caja-ico .nequi::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #11ecfc, rgb(230, 0, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico .daviplata::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #f45050, rgb(150, 18, 18) 40%, rgb(255, 0, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico .banco::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #111111, rgb(255, 242, 0) 40%, rgb(23, 23, 23));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico a .fa {
    z-index: 10;
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
}


.caja-ico a:hover::after {
    top: 0;

}

.caja-iconos a:hover .fa {
    color: white;
}

.caja-ico a:hover {
    transform: translateY(-10px);
}

.contenido {
    margin: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 350px;
    height: 100%;
    gap: 25px 0;

}

.contenido h1 {
    text-transform: uppercase;
    position: relative;
    font-size: 40px;
    text-align: center;
    width: 50%;
    height: 100px;
    top: 100px;
    left: 150px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    width: 94%;
    height: 230px;
}

.card>p {
    border-bottom: 1.2px solid #e3e3e3;
    width: 95%;
    height: 50px;
}

.contenido section {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    text-transform: capitalize;
    background: white;
    font-weight: 700;
    display: flex;
    width: 97%;
    height: 50px;
}

.producto {
    font-weight: 800;
    top: 15px;
    position: relative;
    padding: 0 50px;
    width: 450px;
}

.producto-categoria {
    text-align: center;
    top: 15px;
    left: -20px;
    position: relative;
    width: 700px;
    display: flex;
    gap: 0 20px;
}

.producto-categoria p {
    font-weight: 900;
    width: 100%;
    text-align: center;
}

.card>div {
    width: 100%;
    padding: 10px 0;
    display: flex;
}

.card div>p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 35px;
    text-align: left;
    width: 40%;
}

.cambio {
    position: relative;
    margin-right: 40px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.cambio:focus {
    border: 1px solid #007bff;
}

.card div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58%;
}

.caja-modificar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
    top: 0;
    left: -100000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-modificacion{
    width: 50%;
    height: 50%;
    background: white;
    position: absolute;
    left: -10000px;
}

.conte>p {
    width: auto;
    height: auto;
}