* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.caja-todo {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 150%;
}

header {
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    background: linear-gradient(#007bff 20%, #6ab2ff);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.encabezado {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    background-image: url(../IMG/logo-removebg-preview2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 100px;
    position: relative;
    left: 30px;
    top: 30px;
}

header nav {
    display: flex;
    align-items: center;
    margin: 0 30px;
    gap: 0 25px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
}

.navegador {
    position: relative;
    color: white;
    transition: all .4s ease-in-out;
}

.navegador:hover {
    color: #001233;
}

.item:before {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #001233;
    transition: all .4s;
}

.item:hover:before {
    width: 100%;
}

.tres:before {
    left: 50%;
}

.tres:hover:before {
    left: 0;
}

.button {
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.button:hover {
    background: #001233;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #001233,
        0 0 25px #001233,
        0 0 50px #001233,
        0 0 100px #001233;
}

.menu summary {
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.menu summary:hover {
    background: #001233;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #001233,
        0 0 25px #001233,
        0 0 50px #001233,
        0 0 100px #001233;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a:hover {
    color: #001233;
}

.menu button {
    font-weight: 600;
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #979DAC;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.menu button:hover {
    background: #979DAC;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #979DAC,
        0 0 25px #979DAC,
        0 0 50px #979DAC,
        0 0 100px #979DAC;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.footer input {
    font-size: 17px;
    border-radius: 5px;
    outline: none 0;
    border: 0px;
    width: 60%;
    padding: 12px 0;
    margin-right: 10px;
    transition: all .3 ease-in-out;
}

.footer input:focus {
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255);
}

.footer input:hover {
    border: 1px solid white;
}

.footer a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    fill: white;
    transition: all .3s ease-in-out;
}

svg {
    height: 30px;
    width: 30px;
}

svg:hover {
    fill: #5eafff;
}

.footer a:hover {
    transform: scale(1.1);
    color: #5eafff;
    filter: drop-shadow(0 0 5px 0 #5eafff);
}

.pie-pagina {
    background: #002855;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
}

.pie-pagina p {
    color: white;
}

.caja-enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px 0;
}

.caja-enlace p {
    font-weight: 600;
    margin-bottom: 10px;
}

.caja-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px 0;
}

.caja-info p {
    text-align: center;
}

.caja-pagos {
    display: flex;
    flex-direction: column;
}

.caja-redes {
    display: flex;
    flex-direction: column;
}

.caja-enlace p {
    text-transform: uppercase;
    text-align: center;
}

.caja-pagos a,
.caja-redes a {
    text-decoration: none;
}

.caja-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.caja-iconos a {
    background-color: white;
    top: 25px;
    position: relative;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0.5);
    transition: transform .5s;
    overflow: hidden;
}

.caja-iconos .face::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #1167fc, rgb(0, 42, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-iconos .insta::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #9a11fc, rgb(255, 0, 0) 40%, rgb(255, 213, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-iconos .twi::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg,  #44fc11, rgb(77, 255, 0) 40%, rgb(26, 255, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}


.caja-iconos a .fa {
    z-index: 10;
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
}


.caja-iconos a:hover::after {
    top: 0;

}

.caja-iconos a:hover .fa {
    color: white;
}

.caja-iconos a:hover {
    transform: translateY(-10px);
}

.enlace {
    gap: 0 15px;
    display: flex;
}

.caja-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.caja-ico a {
    top: 25px;
    position: relative;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    border: none;
    transition: transform .5s;
    overflow: hidden;
}

.caja-ico .nequi::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #11ecfc, rgb(230, 0, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico .daviplata::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #f45050, rgb(150, 18, 18) 40%, rgb(255, 0, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico .banco::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #111111, rgb(255, 242, 0) 40%, rgb(23, 23, 23));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico a .fa {
    z-index: 10;
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
}


.caja-ico a:hover::after {
    top: 0;

}

.caja-iconos a:hover .fa {
    color: white;
}

.caja-ico a:hover {
    transform: translateY(-10px);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenido {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

section {
    top: 0;
    left: 5px;
    position: static;
    padding-left: 20px;
    padding-top: 20px;
    background: #007bff;
    height: 500px;
    width: 25%;
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
}

section a,
button {
    font-size: 15px;
    background: transparent;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    transition: all .4s ease-in-out;
}

section a:hover,
button:hover {
    color: #151515;
    font-size: 700;
    transform: scale(1.01, 1.01);
}

section h1 {
    color: white;
}

article {
    margin: 20px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 30px;
}

.caja-producto {
    display: flex;
    flex-direction: column;
    background: #007bff;
    width: 250px;
    height: 300px;
    border: 4px solid white;
    transition: all .4s;
}

.caja-producto:hover {
    box-shadow: 0px 0px 10px 1px rgba(23, 23, 23, 0.5);
    transform: scale(1.02, 1.02);
}

.img-producto {
    position: relative;
    top: 5px;
    left: 9px;
    width: 93%;
    height: 75%;
    background-image: url(../IMG/imagen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.caja-producto p {
    left: 9px;
    top: 5px;
    position: relative;
    width: 93%;
    color: white;
}

.p1 {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

.p2 {
    padding-left: 5px;
    text-align: left;
}

.caja-producto a {
    left: 15px;
    width: 10%;
    text-decoration: none;
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    transition: all .4s ease-in-out;
}

.caja-producto a:hover {
    transform: scale(1.4, 1.4);
    color: #001233;
}

.mensaje {
    height: 30%;
    width: 40%;
    background: white;
    border-radius: 10px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensaje p {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.mensaje a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background: white;
}

.mensaje a:focus {
    color: #f45050;
    border-color: #f45050;
}

.caja-mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
}