* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.caja-todo {
    background-color: #e3e3e3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header {
    position: relative;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, .5);
    background: linear-gradient(#007bff 20%, #6ab2ff);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    justify-content: center;
    align-items: center;
}

.encabezado {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header span {
    background-image: url(../IMG/logo-removebg-preview2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 170px;
    height: 100px;
    position: relative;
    left: 30px;
    top: 30px;
}

header nav {
    display: flex;
    align-items: center;
    margin: 0 30px;
    gap: 0 25px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
}

.navegador {
    position: relative;
    color: white;
    transition: all .4s ease-in-out;
}

.navegador:hover {
    color: #001233;
}

.item:before {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #001233;
    transition: all .4s;
}

.item:hover:before {
    width: 100%;
}

.tres:before {
    left: 50%;
}

.tres:hover:before {
    left: 0;
}

.button {
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.button:hover {
    background: #001233;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #001233,
        0 0 25px #001233,
        0 0 50px #001233,
        0 0 100px #001233;
}

.menu summary {
    padding: 5px 10px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
}

.menu summary:hover {
    background: #001233;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #001233,
        0 0 25px #001233,
        0 0 50px #001233,
        0 0 100px #001233;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.menu a:hover {
    color: #001233;
}

.menu button {
    font-weight: 600;
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: #979DAC;
    font-size: 13px;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
}

.menu button:hover {
    background: #979DAC;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #979DAC,
        0 0 25px #979DAC,
        0 0 50px #979DAC,
        0 0 100px #979DAC;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.footer input {
    font-size: 17px;
    border-radius: 5px;
    outline: none 0;
    border: 0px;
    width: 60%;
    padding: 12px 0;
    margin-right: 10px;
    transition: all .3 ease-in-out;
}

.footer input:focus {
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255);
}

.footer input:hover {
    border: 1px solid white;
}

.footer a {
    font-weight: 600;
    text-decoration: none;
    color: white;
    fill: white;
    transition: all .3s ease-in-out;
}

svg {
    height: 30px;
    width: 30px;
}

svg:hover {
    fill: #5eafff;
}

.footer a:hover {
    transform: scale(1.1);
    color: #5eafff;
    filter: drop-shadow(0 0 5px 0 #5eafff);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-soporte {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-soporte h1 {
    font-size: 60px;
    font-weight: 700;
    color: #002855;
}

.caja-soporte p {
    font-size: 25px;
    font-weight: 600;
}

.caja-siempre {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


figure {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.img1 {
    border-radius: 25px;
    background-image: url(../IMG/19\ estupendos\ dibujos\ vintage\ que\ critican\ la\ sociedad\ actual.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.img2 {
    border-radius: 25px;
    background-image: url(../IMG/marc-olivier-jodoin-NqOInJ-ttqM-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.img3 {
    border-radius: 25px;
    background-image: url(../IMG/eric-rothermel-FoKO4DpXamQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

figure p {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 60px;
}

article {
    border-radius: 10px;
    background: #5eafff;
    width: 95%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article h1 {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 100px;
}

article div {
    width: 90%;
}

article h3 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

article p {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 80px;
}

.imagen {
    margin: 20px 0;
    width: 70%;
    height: 400px;
    background: url(../IMG/ux-indonesia-2NDWFiD0UMM-unsplash.jpg);
}

.contacto {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.caja-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: rgb(255, 255, 255);
    width: 80%;
    height: 450px;
}

.caja-contacto h1 {
    color: #001233;
}

.caja-contacto p {
    font-size: 20px;
}

.contacto form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px 0;
}

.contacto input,
select,
textarea {
    text-align: left;
    border: none;
    outline: none;
    border-radius: 15px;
    width: 30em;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
}

.contacto input:focus,select:focus,textarea:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
        -13px -13px 100px #ffffff;
}

.neon-azul {
    border-radius: 5px;
    font-weight: 900;
    padding: 1em;
    border: 1.5px solid #007bff;
    background-color: rgba(0, 123, 255,.2);
    color: #007bff;
    box-shadow: 1px 1px 10px 1px #007bff;
}

.neon-azul:hover {
    color: white;
    background-color: #007bff;
    box-shadow: 0 0 5px #007bff,
        0 0 25px #007bff,
        0 0 50px #007bff,
        0 0 100px #007bff,
        0 0 200px #007bff;
}

.pie-pagina {
    top: 30px;
    position: relative;
    background: #002855;
    display: flex;
    width: 100%;
    height: 300px;
    align-items: center;
}

.pie-pagina p {
    color: white;
}

.caja-enlace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px 0;
}

.caja-enlace p {
    font-weight: 600;
    margin-bottom: 10px;
}

.caja-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    gap: 20px 0;
}

.caja-info p {
    text-align: center;
}

.caja-pagos {
    display: flex;
    flex-direction: column;
}

.caja-redes {
    display: flex;
    flex-direction: column;
}

.caja-enlace p {
    text-transform: uppercase;
    text-align: center;
}

.caja-pagos a,
.caja-redes a {
    text-decoration: none;
}

.caja-iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.caja-iconos a {
    background-color: white;
    top: 25px;
    position: relative;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0.5);
    transition: transform .5s;
    overflow: hidden;
}

.caja-iconos .face::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #1167fc, rgb(0, 42, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-iconos .insta::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #9a11fc, rgb(255, 0, 0) 40%, rgb(255, 213, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-iconos .twi::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #11ecfc, rgb(0, 132, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}


.caja-iconos a .fa {
    z-index: 10;
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
}


.caja-iconos a:hover::after {
    top: 0;

}

.caja-iconos a:hover .fa {
    color: white;
}

.caja-iconos a:hover {
    transform: translateY(-10px);
}

.enlace {
    gap: 0 15px;
    display: flex;
}

.caja-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.caja-ico a {
    top: 25px;
    position: relative;
    font-size: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
    border-radius: 50%;
    border: none;
    transition: transform .5s;
    overflow: hidden;
}

.caja-ico .nequi::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #11ecfc, rgb(230, 0, 255) 40%, blue);
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico .daviplata::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #f45050, rgb(150, 18, 18) 40%, rgb(255, 0, 0));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico .banco::after {
    height: 100%;
    width: 100%;
    top: -90px;
    left: 0;
    content: "";
    background: linear-gradient(-45deg, #111111, rgb(255, 242, 0) 40%, rgb(23, 23, 23));
    transition: 0.5s;
    color: white;
    position: absolute;
}

.caja-ico a .fa {
    z-index: 10;
    font-size: 20px;
    position: relative;
    transition: color 0.5s;
}


.caja-ico a:hover::after {
    top: 0;

}

.caja-iconos a:hover .fa {
    color: white;
}

.caja-ico a:hover {
    transform: translateY(-10px);
}

.mensaje {
    height: 30%;
    width: 40%;
    background: white;
    border-radius: 10px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mensaje p {
    font-size: 25px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.mensaje a {
    text-decoration: none;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background: white;
}

.mensaje a:focus {
    color: #f45050;
    border-color: #f45050;
}

.caja-mensaje {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    background: rgb(0, 0, 0, 0.5);
    z-index: 19;
}